﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Ranking", "Ranking", "Swaps")</li>
                    <li>@Html.ActionLink("Trocar Figurinha", "Create", "Swaps")</li>
                    <li>@Html.ActionLink("Criar Usuário", "Create", "Users")</li>
                    <li>@Html.ActionLink("Criar Figurinha", "Create", "UserSticker")</li>
                    <li>@Html.ActionLink("Total Figurinhas", "Index", "Stickers")</li>
                    <li>@Html.ActionLink("Listar/Confirmar Trocas", "Index", "Swaps")</li>
                    <li>@Html.ActionLink("Figurinhas por pessoa", "Index", "UserSticker")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
