﻿@model IEnumerable<FigurinhasCopa.MVC.ViewModels.UserStickerViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Figurinhas por pessoa</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Usuário")
        </th>
        <th>
            @Html.DisplayName("Número da figurinha")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ammount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sticker.StickerNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ammount)
            </td>
        </tr>
    }

</table>
