﻿@model FigurinhasCopa.MVC.ViewModels.SwapViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Trocar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Figurinhas</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.Label("Número da figurinha", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StickerId", String.Empty)
                @Html.ValidationMessageFor(model => model.StickerId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ammount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ammount)
                @Html.ValidationMessageFor(model => model.Ammount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsPending, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.IsPending, new { @checked = "checked", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.IsPending)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("De usuário", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserFromId", String.Empty)
                @Html.ValidationMessageFor(model => model.UserFromId)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Para usuário", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserToId", String.Empty)
                @Html.ValidationMessageFor(model => model.UserToId)
            </div>
        </div>
        
        @{
            if (@ViewBag.Error != null)
            {
                <span class="alert-danger">@ViewBag.Error</span>
            }
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
