﻿@model IEnumerable<FigurinhasCopa.MVC.ViewModels.SwapViewModel>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar/Confirmar trocas</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Número da figurinha")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ammount)
        </th>
        <th>
            @Html.DisplayName("De usuário")
        </th>
        <th>
            @Html.DisplayName("Para usuário")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sticker.StickerNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ammount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserFrom.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserTo.Name)
            </td>
            @{
                if (item.IsPending)
                {
                    <td>
                        @Html.ActionLink("Confirmar", "Confirm", new { id = item.SwapId })
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayName("Confirmado")
                    </td>
                }
            }
        </tr>
    }

</table>
