﻿@model IEnumerable<FigurinhasCopa.MVC.ViewModels.RankingViewModel>

@{
    ViewBag.Title = "Ranking";
}

<h2>Ranking</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Número da figurinha")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sticker.StickerNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
        </tr>
    }

</table>
