﻿@model IEnumerable<FigurinhasCopa.MVC.ViewModels.StickerViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Total figurinhas</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StickerNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ammount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StickerNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ammount)
        </td>
    </tr>
}

</table>
